---
- name: Install mode playbook
  hosts: localhost
  connection: local
  gather_facts: yes

  vars_files:
    - ../vars/main.yml

  tasks:
    - name: Add source line to ~/.zshrc
      lineinfile:
        path: "{{ ansible_facts['env'].HOME }}/.zshrc"
        line: '[ -f "{{ dotfiles_root }}/run.sh" ] && source "{{ dotfiles_root }}/run.sh"'
        create: yes
        state: present

    - name: Setup environment variables and directories
      import_tasks: ../tasks/setup_env.yml

    - name: Prepare Python virtualenv
      import_tasks: ../tasks/setup_python.yml

    - name: Prepare Cargo install
      import_tasks: ../tasks/setup_cargo.yml

    - name: Generate shell configuration files from templates
      import_tasks: ../tasks/setup_shell.yml