---
- name: Install mode playbook
  hosts: localhost
  connection: local
  gather_facts: yes

  vars_files:
    - ../vars/main.yml

  tasks:
    - name: Run setup tasks
      import_tasks: ../tasks/setup.yml

    - name: Add source line to ~/.zshrc
      lineinfile:
        path: "{{ ansible_facts['env'].HOME }}/.zshrc"
        line: '[ -f "{{ dotfiles_root }}/run.sh" ] && source "{{ dotfiles_root }}/run.sh"'
        create: yes
        state: present