---
- name: Run mode playbook
  hosts: localhost
  connection: local
  gather_facts: yes

  vars_files:
    - ../vars/main.yml

  tasks:
    - name: Run setup tasks
      import_tasks: ../tasks/setup.yml